body {
  margin: 0;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;     
}

h1 {font-size: 1.5rem;}
h2 {font-size: 1rem;}

h1,h2 {
  letter-spacing: 0.5px;
  transition: color 0.3s ease;
  margin: 0.1rem;
}

#click-btn {
  background: linear-gradient(135deg, #6366f1, #22d3ee);
  box-shadow: 0 10px 25px rgba(99, 102, 241, 0.4);
  border-radius: 50px;
  border: 2px solid grey;
  margin-top: 1.5vmin;
  padding: 2vmin 3.5vmin;
  font-size: 2.5vmin;
  font-weight: 600;
  color: #fff;
}

#click-btn:hover {
  background: linear-gradient(135deg, #22d3ee, #6366f1);
}

